html, body 
{
    height: 100%;
    margin: 0;
}

body
{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(0,240,255,0.15), rgba(255,0,122,0.15));
    padding: 20px;
}

h1
{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}